/* File Purpose: Global visual styles for the application UI. */
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important; /* !important override the bootstrap styling.   */
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #e0dede;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* card effect */

#effect:hover {
  transform: translateY(-10px) scale(1.03) !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5) !important;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease !important;
}

#effect {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

/* new page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.edit-btn {
  background-color: #fe424d !important;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map */

#map {
  height: 350px;
  width: 80vh;
}
